<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="cart">
            <p>Cart({{ cart.length }})</p>
        </div>
        <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeItem"></product>
    </div>
    <!-- built files will be auto injected -->

    <style type="text/css">
      body {
        font-family: tahoma;
        color:#282828;
        margin: 0px;
      }

      .nav-bar {
        background: linear-gradient(-90deg, #84CF6A, #16C0B0);
        height: 60px;
        margin-bottom: 15px;
      }

      .product {
        display: flex;
        flex-flow: wrap;
        padding: 1rem;
      }

      img {
        border: 1px solid #d8d8d8;
        width: 70%;
        margin: 40px;
        box-shadow: 0px .5px 1px #d8d8d8;
      }

      .product-image {
        width: 80%;
      }

      .product-image,
      .product-info {
        margin-top: 10px;
        width: 50%;
      }

      .color-box {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }

      .cart {
        margin-right: 25px;
        float: right;
        border: 1px solid #d8d8d8;
        padding: 5px 20px;
      }

      button {
        margin-top: 30px;
        border: none;
        background-color: #1E95EA;
        color: white;
        height: 40px;
        width: 100px;
        font-size: 14px;
      }

      .disabledButton {
        background-color: #d8d8d8;
      }

      .review-form {
        width: 400px;
        padding: 20px;
        margin: 40px;
        border: 1px solid #d8d8d8;
      }

      input {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
      }

      textarea {
        width: 100%;
        height: 60px;
      }

      .tab {
        margin-left: 20px;
        cursor: pointer;
      }

      .activeTab {
        color: #16C0B0;
        text-decoration: underline;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript">
        //Create tabs for “Shipping” and “Details” that display the shipping cost and product details, respectively.

        var eventBus = new Vue()

        //Create a new component for product-details with a prop of details.

        Vue.component('product-details', {
            props: {
                details: {
                    type: Array,
                    required: true
                }
            },
            template: `
    <ul>
      <li v-for="detail in details">{{ detail }}</li>
    </ul>
  `
        });

        Vue.component('product', {
            props: {
                premium: {
                    type: Boolean,
                    required: true
                }
            },
            template: `
     <div class="product">

        <div class="product-image">
          <img :src="image" />
        </div>

        <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p>Shipping: {{ shipping }}</p>

            <info-tabs :shipping="shipping" :details="details"></info-tabs>

            <div class="color-box"
                 v-for="(variant, index) in variants"
                 :key="variant.variantId"
                 :style="{ backgroundColor: variant.variantColor }"
                 @mouseover="updateProduct(index)"
                 >
            </div>

            <button v-on:click="addToCart"
              :disabled="!inStock"
              :class="{ disabledButton: !inStock }"
              >
            Add to cart
            </button>

            <button @click="removeFromCart"
              >
            Remove from cart
            </button>
         </div>

         <product-tabs :reviews="reviews"></product-tabs>
      </div>
     `,
            data() {
                return {
                    product: 'Socks',
                    brand: 'Vue Mastery',
                    selectedVariant: 0,
                    description: "A pair of warm fuzzy socks",
                    link: 'https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks',
                    onSale: true,
                    details: ['80% cotton', '20% polyester', 'Gender-neutral'],
                    sizes: ['S', 'M', 'L', 'XL', 'XXL', 'XXXL'],
                    variants: [
                        {
                            variantId: 2234,
                            variantColor: 'green',
                            variantImage:  'https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg',
                            variantQuantity: 10
                        },
                        {
                            variantId: 2235,
                            variantColor: 'blue',
                            variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg',
                            variantQuantity: 0
                        }
                    ],
                    reviews: []
                }
            },
            methods: {
                addToCart() {
                    this.$emit('add-to-cart', this.variants[this.selectedVariant].variantId)
                },
                updateProduct(index) {
                    this.selectedVariant = index
                },
                removeFromCart: function() {
                    this.$emit('remove-from-cart', this.variants[this.selectedVariant].variantId)
                },
                addReview(productReview) {
                    this.reviews.push(productReview)
                }
            },
            computed: {
                title() {
                    return this.brand + ' ' + this.product
                },
                image(){
                    return this.variants[this.selectedVariant].variantImage
                },
                inStock(){
                    return this.variants[this.selectedVariant].variantQuantity
                },
                shipping() {
                    if (this.premium) {
                        return "Free"
                    }
                    return 2.99
                }
            },
            mounted() {
                eventBus.$on('review-submitted', productReview => {
                    this.reviews.push(productReview)
                })
            }
        });

        Vue.component('product-review', {
            template: `
      <form class="review-form" @submit.prevent="onSubmit">

      <p>
        <label for="name">Name:</label>
        <input id="name" v-model="name">
      </p>

      <p>
        <label for="review">Review:</label>
        <textarea id="review" v-model="review"></textarea>
      </p>

      <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </p>

      <p>Would you recommend this product?</p>
        <label>
          Yes
          <input type="radio" value="Yes" v-model="recommend"/>
        </label>
        <label>
          No
          <input type="radio" value="No" v-model="recommend"/>
        </label>

      <p>
        <input type="submit" value="Submit">
      </p>

    </form>
    `,
            data() {
                return {
                    name: null,
                    review: null,
                    rating: null,
                    recommend: null,
                    errors: []
                }
            },
            methods: {
                onSubmit() {
                    this.errors = []
                    if(this.name && this.review && this.rating && this.recommend) {
                        let productReview = {
                            name: this.name,
                            review: this.review,
                            rating: this.rating,
                            recommend: this.recommend
                        }
                        eventBus.$emit('review-submitted', productReview)
                        this.name = null
                        this.review = null
                        this.rating = null
                        this.recommend = null
                    } else {
                        if(!this.name) this.errors.push("Name required.")
                        if(!this.review) this.errors.push("Review required.")
                        if(!this.rating) this.errors.push("Rating required.")
                        if(!this.recommend) this.errors.push("Recommendation required.")
                    }
                }
            }
        });

        Vue.component('product-tabs', {
            props: {
                reviews: {
                    type: Array,
                    required: false
                }
            },
            template: `
      <div>

        <ul>
          <span class="tabs"
                :class="{ activeTab: selectedTab === tab }"
                v-for="(tab, index) in tabs"
                @click="selectedTab = tab"
                :key="tab"
          >{{ tab }}</span>
        </ul>

        <div v-show="selectedTab === 'Reviews'">
            <p v-if="!reviews.length">There are no reviews yet.</p>
            <ul v-else>
                <li v-for="(review, index) in reviews" :key="index">
                  <p>{{ review.name }}</p>
                  <p>Rating:{{ review.rating }}</p>
                  <p>{{ review.review }}</p>
                  <p>{{ review.recommend }}</p>
                </li>
            </ul>
        </div>

        <div v-show="selectedTab === 'Make a Review'">
          <product-review></product-review>
        </div>

      </div>
    `,
            data() {
                return {
                    tabs: ['Reviews', 'Make a Review'],
                    selectedTab: 'Reviews'
                }
            }
        })

        Vue.component('info-tabs', {
            props: {
                shipping: {
                    required: true
                },
                details: {
                    type: Array,
                    required: true
                }
            },
            template: `
      <div>

        <ul>
          <span class="tabs"
                :class="{ activeTab: selectedTab === tab }"
                v-for="(tab, index) in tabs"
                @click="selectedTab = tab"
                :key="tab"
          >{{ tab }}</span>
        </ul>

        <div v-show="selectedTab === 'Shipping'">
          <p>{{ shipping }}</p>
        </div>

        <div v-show="selectedTab === 'Details'">
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
        </div>

      </div>
    `,
            data() {
                return {
                    tabs: ['Shipping', 'Details'],
                    selectedTab: 'Shipping'
                }
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                premium: true,
                cart: []
            },
            methods: {
                updateCart(id) {
                    this.cart.push(id)
                },
                removeItem(id) {
                    for(var i = this.cart.length - 1; i >= 0; i--) {
                        if (this.cart[i] === id) {
                            this.cart.splice(i, 1);
                        }
                    }
                }
            }
        });
    </script>
  </body>
</html>
