<template>
  <div id="app">
    <div class="product-image">
      <img src="" />
    </div>
    <div class="product-info">
      <h1>{{ product }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      product: "Socks",
      description: "A pair of warm fuzzy socks"
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
